[submodule "cyberlink-src"]
	path = cyberlink-src
url=https://github.com/cybergarage/mupnp.git
[submodule "taglib-src"]
	path = taglib-src
url=https://github.com/taglib/taglib.git
[submodule "Vorbis"]
	path = Vorbis
	url = https://github.com/iosdevzone/IDZPrecompiledVorbis.git
